<h1>Edit {{course.title}}</h1>

<form action="/courses/edit" method="POST">
      <div class="input-field col s6">
          <input placeholder="Enter the title..." id="title" name="title" type="text" class="validate" required value="{{course.title}}">
          <label for="title">Course name</label>
          <span class="helper-text" data-error="Enter the name"></span>
        </div>
        <div class="input-field col s6">
          <input placeholder="Enter the price..." id="pirce" name="price" type="number" class="validate" required min="1" value="{{course.price}}"> 
          <label for="price">Price</label>
          <span class="helper-text" data-error="Enter the price"></span>
        </div>
        <div class="input-field col s6">
          <input placeholder="Enter img name..." id="img" name="img" type="text" class="validate" required value="{{course.img}}">
          <label for="title">Url img</label>
          <span class="helper-text" data-error="Enter the url info"></span>
        </div>
        <input type="hidden" name="uuid" value="{{course.uuid}}">

        <button class="btn btn-primary">Edit course </button>

</form>